.consultancy,
.research,
.training {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: none;
  grid-template-areas:
    "service-image"
    "service-text";
  align-items: center;
  height: 95vh;
}

.services .service-image-layover {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.service-text {
  grid-area: service-text;
  padding: 16px;
}

.service-image {
  grid-area: service-image;
  margin: 16px;
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  grid-template-rows: 32px 1fr 32px;
}

.services img {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  height: 250px;
  background-color: #fff;
}

.scrollContainer {
  overflow: hidden;
}

#pinContainer,
#pinContainer2 {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#pinContainer .panel {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel span {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 25vh 10vw;
  font-size: 80px;
}

/* Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .service-image {
    width: 60vw;
    margin: auto;
  }
}

/* ipad*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .consultancy,
  .research,
  .training {
    padding-top: 48px;
  }
  .service-image {
    width: 70vw;
    margin: auto;
  }

  .services img {
    height: 400px;
  }
}

/*ipad pro*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .consultancy,
  .research,
  .training {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
    padding: 32px;
    height: 50vh;
  }

  .consultancy,
  .training {
    grid-template-areas: "service-image service-text";
  }
  .research {
    grid-template-areas: "service-text service-image";
  }

  .service-text {
    grid-area: service-text;
  }

  .services img {
    height: 450px;
  }
}

/*laptops*/
@media (min-width: 1200px) and (max-width: 1399px) {
  .consultancy,
  .research,
  .training {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 80vw;
    margin: auto;
  }
  .consultancy,
  .training {
    grid-template-areas: "service-image service-text";
  }
  .research {
    grid-template-areas: "service-text service-image";
  }

  .service-text {
    grid-area: service-text;
  }
  .services img {
    height: 400px;
  }

  .panel {
    height: 80vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/hero-back-large-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
  .panel {
    min-height: 800px;
    background-image: url("../../assets/images/hero-back-large-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .consultancy,
  .research,
  .training {
    height: 100vh;
    width: 65vw;
    margin: auto;
    grid-template-rows: none;
    grid-template-columns: 2fr 2fr;
  }

  .consultancy,
  .training {
    grid-template-areas: "service-image service-text";
  }
  .research {
    grid-template-areas: "service-text service-image";
  }

  .service-text {
    grid-area: service-text;
  }

  .services img {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 450px;
    background-color: #fff;
  }
}
