.map {
  height: 70vh;
  width: 90vw;
  margin: 64px auto;
  color: #fff;
  position: relative;
}

/*laptops*/
@media (min-width: 1200px) {
  .map {
    height: 80vh;
    width: 60vw;
    margin: 64px auto;
  }
}
